@model IEnumerable<CIMM.ViewModels.ProjectLeaderboardViewModel>

<h2>Leaderboard</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>CI Url</th>
        <th>Score</th>
        <th></th>
    </tr>
    @foreach (var project in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => project.CIUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => project.TotalScore)
            </td>
        </tr>
    }
</table>