@model CIMM.ViewModels.AwardAchievementsViewModel
@using CIMM.ViewModels

<h2>Set Achievements for @Model.ProjectName</h2>

<form asp-controller="Projects" asp-action="AwardAchievements" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>
    
    @foreach (ProjectAchievementViewModel item in Model.AchievementStatuses)
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="@item.HasAchievement" />
                    <label asp-for="@item.HasAchievement">@item.AchievementName</label>
                </div>
            </div>
        </div>

    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</form>
