@model CIMM.Models.Project

<h2>New Project</h2>

<form asp-controller="Projects" asp-action="Create" method="post" class="form-horizontal" role="form">
    <div class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <label asp-for="CodeUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CodeUrl" class="form-control" />
                <span asp-validation-for="CodeUrl" class="text-danger"></span>
            </div>

            <label asp-for="CIUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CIUrl" class="form-control" />
                <span asp-validation-for="CIUrl" class="text-danger"></span>
            </div>
        
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
